<header class="main-header sticky-header p-3">
<div class="sub-header position-relative bg-white">
<div class="container-xl p-3 px-xl-0 d-flex justify-content-between align-items-center">

    <nav class="header-links position-static navbar navbar-expand-lg navbar-light gap-3 gap-lg-0">
    <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <button class="p-0 border-0 bg-transparent d-block d-lg-none">
    <i class="fas fa-search"></i>
</button>
                <div class="collapse navbar-collapse boneless-collapsible-div" id="navbarNav">
                   <div class="d-flex d-lg-none justify-content-between align-items-center mb-3 mobile-hamburger-header"
                        data-bs-toggle="collapse" data-bs-target="#navbarNav">
                        <button
                            class="d-flex align-items-center justify-content-center p-0 border-0 bg-transparent">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                    <ul class="list-unstyled navbar-nav m-0 d-flex flex-lg-row gap-2 gap-lg-3">
                        <li class="nav-item" style="--i:1">
                            <a class="nav-link p-0 text-decoration-none fw-semibold" href="/">
                                Home
                            </a>
                        </li>
                        <li class="nav-item" style="--i:2">
                            <a class="nav-link p-0 text-decoration-none fw-semibold" href="/">
                                Boneless Couch
                            </a>
                        </li>
                        <li class="nav-item dropdown-parent" style="--i:3">
                            <a class="nav-link p-0 text-decoration-none fw-semibold" href="/">
                                Sectional Couches
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="/" class="nav-link text-decoration-none fw-semibold">
                                        L Shaped Couch
                                    </a>
                                </li>
                                <li class="nav-item" style="--i:4">
                                    <a href="/" class="nav-link text-decoration-none fw-semibold">
                                        U Shaped Couch
                                    </a>
                                </li>
                        </ul>
                        </li>
                        <li class="nav-item" style="--i:5">
                        <a class="nav-link p-0 text-decoration-none fw-semibold" href="/">
                            Apartment Sofas
                        </a>    
                        </li>
                        <li class="nav-item" style="--i:6">
                            <a class="nav-link p-0 text-decoration-none fw-semibold" href="/">
                                Chaise Lounge
                            </a>
                        </li>

                        <li class="nav-item more-item" style="--i:7">
    <a class="nav-link p-0" href="/">More</a>
    <ul class="dropdown-menu hidden-links"></ul>
</li>
                    </ul>
                </div>
</nav>

<div class="header-logo-div">
    <img src="../../assets/images/header-logo.png" />
</div>

<div class="icon-list d-flex align-items-center gap-3">
<button class="p-0 border-0 bg-transparent d-none d-lg-block">
    <i class="fas fa-search"></i>
</button>
<button class="p-0 border-0 bg-transparent">
    <i class="far fa-user"></i>
</button>
<button class="p-0 border-0 bg-transparent">
    <i class="fas fa-shopping-bag"></i>
</button>
</div>
</div>

</div>
</header>